<!DOCTYPE html>
<html>
    <head>
        <title>Users Show</title>
        <style>
            #container {
                width: 980px;
                margin: 100px 0px 0px 100px;
            }
            a, h1, p, #submit {
                font-family: arial, sans-serif;
            }
            input {
                display: block;
            }
            #submit {
                background-color: blue;
                color: white;
                height: 30px;
                width: 100px;
                font-size: 1em;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>User {{ getUser['id'] }}</h1>
            <p>Full Name: {{ getUser['first_name'] }} {{ getUser['last_name'] }} </p>
            <p>Email: {{ getUser['email'] }}</p>
            <p>Created at: {{ getUser['created_at'].strftime('%D') }}</p>
            <p><a href="/users/{{ getUser['id'] }}/edit">Edit</a>  |  <a href="/users/{{ getUser['id'] }}/destroy">Delete</a></p>
        </div>
    </body>
</html>  