<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <style>
            #container {
                width: 980px;
                margin: 100px 0px 0px 100px;
            }
            a, h1, p, #submit {
                font-family: arial, sans-serif;
            }
            input {
                display: block;
            }
            #submit {
                background-color: blue;
                color: white;
                height: 30px;
                width: 100px;
                font-size: 1em;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>Add a Book</h1>
            <form action="/create", method='post'>
                <p>Title:</p>
                <input type="text" name="title">
                <p>Author:</p>
                <input type="text" name="author">
                <p><input type="submit" value="Add book!" id="submit"></p>
            </form>
        </div>
    </body>
</html>  